.custom-card {
    max-width: 60%;
    margin: 0 auto 1.5rem auto;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5rem;
}

.custom-card-header {
    background-color: #333d49;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'JOSEFIN SANS';
    padding-top: 18px;
    padding-bottom: 15px;
    margin-bottom: 1.8rem;
}

.custom-card-body {
    background-color: #f8f9fa;
    padding: 1.8rem 1rem 1rem 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Josefin Sans';
    margin: auto 15px auto 15px;
    text-align: justify;
    width: 60%;
}

img {
    width: 300px;
}

@media (max-width: 1100px) {
    .custom-card-header{
        width: 50%;
    }
}

@media (max-width: 900px) {
    .custom-card-header{
        width: 60%;
    }
}

@media (max-width: 700px) {
    .custom-card-header{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .custom-card-header{
        width: 100%;
    }
}

@media (max-width: 1429px) {
    .custom-card {
        max-width: 80%;
    }
}

@media (max-width: 650px) {
    img {
        width: 250px;
    }
    .custom-card {
        max-width: 90%;
    }
}

@media (max-width: 1072px) {
    .about-details{
        margin: 20px 15px 20px 15px;
        width: 90%;
    }
}