<div class="custom-card">
    <h2 class="custom-card-header">About</h2>
    <div class="custom-card-body">
        <div>
            <img src="https://raw.githubusercontent.com/OrganizadorIF/atividade-angular/main/src/assets/band-of-the-hawk.png">
        </div>
        <div class="about-details">
            <div style="margin-bottom: 15px; font-size: x-large;">MyMangaList</div>
            <div><b>MyMangaList</b> was developed by the student <b>Erik Abdala</b> as a project for the <b>Angular</b> workshop 
            from the <b>Web Technologies</b> subject of the <b>Computer Science</b> course at <b>IFSULDEMINAS - Câmpus Muzambinho</b>. 
            The ideia behind the project was to present at least 3 components and some  functions within the components 
            ".ts" files. The workshop was presented by the students <b>Anderson</b>, <b>Gianlucca</b> and 
            <b>Lurian</b> on <b>July 17th</b> and <b>24th</b>.</div>
        </div>
    </div>
</div>