.custom-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.custom-title {
    margin-left: auto;
    margin-right: auto;
}

.close-icon {
    margin-left: auto;
    margin-bottom: -37px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-sub-title {
    text-align: center;
    /* padding-bottom: 10px; */
    font-size: large;
}

.modal-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    border: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

img {
    width: 400px;
    height: 597px;
    border-style: groove;
    border-color: grey;
    border-radius: 2px;
}

.manga-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    width: min-content;
    min-height: 597px;
}

.manga-summary {
    text-align: justify;
    padding-bottom: 15px;
}