<div class="custom-card">
    <h2 class="custom-card-header">Manga List</h2>
    <div class="custom-card-body">
        <ul *ngFor="let manga of mangaService.mangaList">
            <li (click)="openModal(manga)">
                <img src="{{manga.cover}}" class="manga-image">
                <div class="manga-details">
                    <h3 class="manga-title">{{manga.title}}</h3>
                    <h4 class="manga-subtitle">{{manga.author}}</h4>
                    <h4 class="manga-subtitle">{{manga.created_at | date: 'YYYY'}} - {{manga.last_release | date: 'YYYY'}}</h4>
                </div>
            </li>
        </ul>
    </div>
</div>